@use "sass:map";

$btn-sizes: (
  "base": 3rem,
  "lg": 4rem,
  "sm": 2rem,
  "xs": 1.5rem,
);

.btn {
  @apply bg-gray-500;
  @apply text-white;
  @apply transition-colors;
  @apply duration-200;
  @apply leading-btn;
  @apply font-semibold;
  @apply uppercase;
  @apply tracking-widest;

  height: map.get($btn-sizes, "base");
  width: max-content;
  font-size: 1rem;
  padding: 0 1.5em;

  display: flex;
  align-items: center;

  cursor: pointer;

  &:hover {
    @apply bg-gray-600;
  }

  &-lg {
    height: map.get($btn-sizes, "lg");
  }

  &-sm {
    height: map.get($btn-sizes, "sm");
    padding: 0 1em;
  }

  &-xs {
    height: map.get($btn-sizes, "xs");
  }

  &-outline {
    @apply border-2;
    @apply border-gray-200;
    @apply bg-transparent;
    @apply text-gray-500;

    &:hover {
      @apply bg-gray-100;
    }
  }
}

//PRIMARY
.btn.btn-primary {
  @apply bg-primary-500;

  &:hover {
    @apply bg-primary-600;
  }

  svg {
    fill: white;
  }
}

.btn.btn-primary.btn-outline {
  @apply border-primary-100;
  @apply text-primary-500;
  @apply bg-transparent;

  &:hover {
    @apply bg-primary-50;
  }

  svg {
    @apply fill-primary-500;
  }
}

//SECONDARY
.btn.btn-secondary {
  @apply bg-secondary-500;

  &:hover {
    @apply bg-secondary-600;
  }

  svg {
    fill: white;
  }
}

.btn.btn-secondary.btn-outline {
  @apply border-secondary-50;
  @apply text-secondary-500;
  @apply bg-transparent;

  &:hover {
    @apply bg-secondary-50;
  }

  svg {
    @apply fill-secondary-500;
  }
}

.btn-icon.btn {
  max-height: map.get($btn-sizes, "base");
  width: map.get($btn-sizes, "base");
  max-width: map.get($btn-sizes, "base");
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: 100%;
  justify-content: center;
  align-items: center;

  svg {
    height: 1.2em;
    width: 1.2em;
  }

  &-lg {
    max-height: map.get($btn-sizes, "lg");
    width: map.get($btn-sizes, "lg");
    max-width: map.get($btn-sizes, "lg");
  }

  &-sm {
    max-height: map.get($btn-sizes, "sm");
    width: map.get($btn-sizes, "sm");
    max-width: map.get($btn-sizes, "sm");
  }

  &-xs {
    max-height: map.get($btn-sizes, "xs");
    width: map.get($btn-sizes, "xs");
    max-width: map.get($btn-sizes, "xs");
  }
}
